<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- here is the title asset, a pic of the map with the map name superimposed -->
<div class="container-fluid">
  <div class="row" class="text-center">
    <div class="col-xs-4">
      <h1> <em>{{ mapName }}</em> </h1>
    </div>
  </div>

  
  <!-- here is the table were the hero stats are displayed -->
  <div class="row" class="text-center">
    <div class="col-xs-4">
      <h3>Offense Table</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            
            <th>Win Rate</th>
            <th>Pick rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">Shitmada 1</td>
            
            <td>.30</td>
            <td>.40</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- defense table -->
  <div class="row" class="text-center">
    <div class="col-xs-4">
      <h3>Defense Table</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            
            <th>Win Rate</th>
            <th>Pick rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">Shitmada 1</td>
            
            <td>.30</td>
            <td>.40</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- go back button -->
  <div class="row" class="text-center">
    <div class="col-xs-4">
      <button type="button" class="btn btn-primary" (click)="goBack()"> Go Back </button>
    </div>
  </div>

  <!-- printing raw json file -->
  <h2>{{ owHeroStats | json }}</h2>

  

</div>

</html>